// @use 'sass:color';

.ModalBackdrop {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  &__state {
    &-s {
      background-color: rgba($color: #000, $alpha: 0.05);
    }

    &-m {
      background-color: rgba($color: #000, $alpha: 0.2);
    }

    &-l {
      background-color: rgba($color: #000, $alpha: 0.5);
    }
  }
}
